<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <span>
      <a href="/"><img src="assets/images/angular-logo.svg" class="ng-logo"></a>
    </span>
    <nav class="tabs">
      <a mat-button routerLink="/videos" routerLinkActive="active">Videos</a>
      <a mat-button routerLink="/articles" routerLinkActive="active">Articles</a>
      <a mat-button routerLink="/speaking" routerLinkActive="active">Speaking</a>
    </nav>
    <nav class="links">
      <a mat-button href="http://www.github.com/adwiens">GitHub</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <div class="badge">
    <img src="assets/images/me.PNG">
    <span>
      My name is Drew Wiens.
      I'm a software developer and consultant at <a href="http://www.oasisdigital.com/">Oasis Digital Solutions</a>.
      Electrical engineer.
      <a href="http://www.angularbootcamp.com/">Angular Boot Camp</a> instructor.
    </span>
  </div>
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="footer">
  <mat-toolbar-row>
    <nav>
      <a mat-button href="http://www.github.com/adwiens">GitHub</a>
      <a mat-button href="http://www.stackblitz.com/@adwiens">StackBlitz</a>
      <a mat-button href="https://scholar.google.com/citations?user=_N2X7KwAAAAJ">Google Scholar</a>
      <a mat-button href="http://www.twitter.com/adwiens">Twitter</a>
      <a mat-button href="https://www.linkedin.com/in/drew-wiens-59859038/">LinkedIn</a>
    </nav>
    <span class="small">Powered by Angular and Express</span>
  </mat-toolbar-row>
</mat-toolbar>