// todo: use Material theming
// https://blog.thoughtram.io/angular/2017/05/23/custom-themes-with-angular-material.html
mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  nav.tabs {
    a {
      color: #a1aadd;
    }
    a.active {
      color: white;
    }
  }
}

div.badge {
  margin-top: 20px;
  display: flex;
  align-items: center;
  max-width: 500px;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 25px;
  }
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  flex: 1 0 auto;
  width: 100%;
}
