<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <h1>an[d]ev</h1>
    <nav class="tabs">
      <a mat-button routerLink="/articles" routerLinkActive="active">Articles</a>
      <a mat-button routerLink="/videos" routerLinkActive="active">Videos</a>
      <a mat-button routerLink="/speaking" routerLinkActive="active">Speaking</a>
      <a mat-button routerLink="/teaching" routerLinkActive="active">Teaching</a>
      <a mat-button routerLink="/links" routerLinkActive="active">Links</a>
    </nav>
    <nav>
      <a mat-button href="http://www.github.com/adwiens" target="_blank">GitHub</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <div class="badge">
    <img src="assets/images/me.PNG">
    <span>
      My name is Andy Wiens.
      Software Developer at Oasis Digital.
      Angular Boot Camp instructor.
      CS PhD student.
    </span>
  </div>
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="footer">
  <mat-toolbar-row>
    <nav>
      <a mat-button href="http://www.twitter.com/adwiens" target="_blank">Twitter</a>
      <a mat-button href="http://www.github.com/adwiens" target="_blank">GitHub</a>
      <a mat-button href="http://www.stackblitz.com/@adwiens" target="_blank">Stackblitz</a>
      <a mat-button href="https://scholar.google.com/citations?user=_N2X7KwAAAAJ" target="_blank">
        Google Scholar
      </a>
    </nav>
    <span class="small">Powered by Angular Universal and Express</span>
  </mat-toolbar-row>
</mat-toolbar>